html {
	height: 100%;
	background-image: url("file:///C:/Sviluppo/Workspaces/photo/photo.parent/photo.model.web/src/main/webapp/imgs/COLOURlovers.com-Wall_Sconces.png");
}

body {
	min-height: 100%;
	width: 1500px;
	margin: 0px auto;
	padding: 0 8px 0 8px;
	background: #eee;
	position: relative;
}

header {
	text-align: center;
	border: solid 1px #eee;
}

nav ul {
	text-align: right;
	text-transform: capitalize;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	width: 150px;
	text-align: center;;
	background: #395870;
	background: linear-gradient(#49708f, #293f50);
	border-right: 1px solid rgba(0, 0, 0, .3);
}

nav ul li:first-child {
	border-radius: 4px 0 0 4px;
}

nav ul li:last-child {
  border-right: 0;
  border-radius: 0 4px 4px 0;
}

nav ul li:hover {
  background: #314b60;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-size: large;
}


section section{
	width: 100%;
	margin: 8px auto;
	min-height: 600px;
	border: solid 1px black;
	border-radius: 4px;
	box-shadow: 0 0 5px 1px #314b60;
}

section h2{
	text-align: center;
}

footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

/* header{
	height: 30px;
	text-align: center;
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: italic;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#maindiv {
	min-height: 100%;
	width: 1080px;
	min-height: 600px;
	margin: 60px auto; center
	padding: 0px;
	border: 1px solid black;
	background: #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: white;
}

nav{
	width: 100%;
	background: yellow;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	height: 50px;
	border-bottom: solid 1px black;
}
 */
/* nav ul li{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
} */