header, section, footer, aside, nav, main, article, figure {
	display: block;
}

html {
	height: 100%;
	background: #c72;
}

body {
	min-height: 100%;
}

#maindiv {
	min-height: 100%;
	width: 700px;
	margin: 60px auto; /* center */
	padding: 20px;
	padding-top: 0px;
	border: 1px solid black;
	background: #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: white;
}

