header, section, footer, aside, nav, main, article, figure {
	display: block;
}

html {
	height: 100%;
	background: #c72;
}

body {
	min-height: 100%;
	width: 1080px;
	margin: 20px auto; /* center */
	padding: 20px;
	padding-top: 0px;
	border: 1px solid black;
	background: #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

header h1 {
	font-size: 38px;
    padding: 0px;
    color: green;
    font-family: cursive;
}

nav {
	
}